In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import yfinance as yf


def get_data(days,tickers):
    df = pd.DataFrame()
    for company in tickers.keys():
        tkr = yf.Ticker(tickers[company])
        hist = tkr.history(period=f'{days}d')
        hist.index = hist.index.strftime('%d %B %Y')
        hist = hist[["Close"]]
        hist.columns = [company]
        hist = hist.T
        hist.index.name = "Name"
        df = pd.concat([df, hist])
    return df

In [2]:
days = 20
tickers = {
    "apple": "AAPL",
    "facebook": "FB",
    "google": "GOOGL",
    "microsoft": "MSFT",
    "netflix": "NFLX",
    "amazon": "AMZN"
}

df = get_data(days, tickers)

In [3]:
companies = ["apple","facebook"]
data = df.loc[companies]
data

Date,09 December 2021,10 December 2021,13 December 2021,14 December 2021,15 December 2021,16 December 2021,17 December 2021,20 December 2021,21 December 2021,22 December 2021,23 December 2021,27 December 2021,28 December 2021,29 December 2021,30 December 2021,31 December 2021,03 January 2022,04 January 2022,05 January 2022,06 January 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,174.559998,179.449997,175.740005,174.330002,179.300003,172.259995,171.139999,169.750000,172.990005,175.639999,176.279999,180.330002,179.289993,179.380005,178.199997,177.570007,182.009995,179.699997,174.919998,172.000000
facebook,329.820007,329.750000,334.489990,333.739990,341.660004,334.899994,333.790009,325.450012,334.200012,330.450012,335.239990,346.179993,346.220001,342.940002,344.359985,336.350006,338.540009,336.529999,324.170013,332.459991

In [4]:
data.sort_index()

Date,09 December 2021,10 December 2021,13 December 2021,14 December 2021,15 December 2021,16 December 2021,17 December 2021,20 December 2021,21 December 2021,22 December 2021,23 December 2021,27 December 2021,28 December 2021,29 December 2021,30 December 2021,31 December 2021,03 January 2022,04 January 2022,05 January 2022,06 January 2022
Name,,,,,,,,,,,,,,,,,,,,
apple,174.559998,179.449997,175.740005,174.330002,179.300003,172.259995,171.139999,169.750000,172.990005,175.639999,176.279999,180.330002,179.289993,179.380005,178.199997,177.570007,182.009995,179.699997,174.919998,172.000000
facebook,329.820007,329.750000,334.489990,333.739990,341.660004,334.899994,333.790009,325.450012,334.200012,330.450012,335.239990,346.179993,346.220001,342.940002,344.359985,336.350006,338.540009,336.529999,324.170013,332.459991

In [5]:
data = data.T.reset_index()
data.head()

Name              Date       apple    facebook
0     09 December 2021  174.559998  329.820007
1     10 December 2021  179.449997  329.750000
2     13 December 2021  175.740005  334.489990
3     14 December 2021  174.330002  333.739990
4     15 December 2021  179.300003  341.660004

In [6]:
data = pd.melt(data, id_vars=["Date"]).rename(
    columns = {"value": "Stock Prices(USD)"}
)

In [7]:
data

                Date      Name  Stock Prices(USD)
0   09 December 2021     apple         174.559998
1   10 December 2021     apple         179.449997
2   13 December 2021     apple         175.740005
3   14 December 2021     apple         174.330002
4   15 December 2021     apple         179.300003
5   16 December 2021     apple         172.259995
6   17 December 2021     apple         171.139999
7   20 December 2021     apple         169.750000
8   21 December 2021     apple         172.990005
9   22 December 2021     apple         175.639999
10  23 December 2021     apple         176.279999
11  27 December 2021     apple         180.330002
12  28 December 2021     apple         179.289993
13  29 December 2021     apple         179.380005
14  30 December 2021     apple         178.199997
15  31 December 2021     apple         177.570007
16   03 January 2022     apple         182.009995
17   04 January 2022     apple         179.699997
18   05 January 2022     apple         174.919998
19   06 January 2022     apple         172.000000
20  09 December 2021  facebook         329.820007
21  10 December 2021  facebook         329.750000
22  13 December 2021  facebook         334.489990
23  14 December 2021  facebook         333.739990
24  15 December 2021  facebook         341.660004
25  16 December 2021  facebook         334.899994
26  17 December 2021  facebook         333.790009
27  20 December 2021  facebook         325.450012
28  21 December 2021  facebook         334.200012
29  22 December 2021  facebook         330.450012
30  23 December 2021  facebook         335.239990
31  27 December 2021  facebook         346.179993
32  28 December 2021  facebook         346.220001
33  29 December 2021  facebook         342.940002
34  30 December 2021  facebook         344.359985
35  31 December 2021  facebook         336.350006
36   03 January 2022  facebook         338.540009
37   04 January 2022  facebook         336.529999
38   05 January 2022  facebook         324.170013
39   06 January 2022  facebook         332.459991

In [23]:
import altair as alt 
ymin, ymax= 300, 400

chart = (
    alt.Chart(data)
    .mark_line(opacity=0.8,clip=True)
    .encode(
        x="Date:T",
        y=alt.Y("Stock Prices(USD):Q", stack=None, scale=alt.Scale(domain=[ymin,ymax])),
        color="Name:N"
    )
)

In [24]:
chart

alt.Chart(...)